@font-face {
    font-family: Sk-Modernist;
    src: url(Sk-Modernist.otf);
}

@font-face {
    font-family: Bigilla;
    src: url(Bigilla.otf);
}

@font-face {
    font-family: Roboto-Mono;
    src: url(Roboto-Mono.ttf);
}

@font-face {
    font-family: MonumentExtended;
    src: url(MonumentExtended.otf);
}


* {
    margin: 0;
	padding: 0%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
}

html,
body {
    overflow-x: hidden;
    background: #0a0a0a;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper .containe {
    width: 96%;
    margin: 0px auto;
}

.divider {
    width: 100%;
    height: 2px;
    background: #fff;
}

.whitespace {
    width: 100%;
    height: 80px;
}


/* navbar */
.navbar .navbar-container {
    display: flex;
    padding: 12px 0;
    font-family: Roboto-Mono;
    font-size: 16px;
    justify-content: space-between;
}

.navbar .navbar-container .site-title {
    flex-grow: 1;
}

.navbar .navbar-container .site-type {
    flex-grow: 1;
}

.navbar .navbar-container .site-year {
    flex-grow: 2;
    text-align: right;
}


/* header */
.header {
    margin: 80px 0;
    z-index: 2 !important;
}

.header .header-container h1 {
    font-family: Bigilla;
    font-size: 12rem;
    letter-spacing: 6px;
    text-decoration: none;
}

@media (max-width: 900px) {
    .header .header-container h1 {
        font-size: 5.4rem;
    }
}


/* hero-image */ 
.hero-image {
    width: 100%;
    margin-top: -300px;
    margin-left: -100px;
}

.hero-image::after {
    content: "";
    display: table;
    clear: both;
}

.hero-image .hero-image-container {
    width: 40%;
    float: right;
}

.hero-image .hero-image-container img {
    width: 100%;
}

@media (max-width: 900px) {
    .hero-image {
        margin-top: 40px;
    }

    .hero-image .hero-image-container {
        width: 100%;
    }
}


/* section-header */
.section-header .section-header-container {
    display: flex;
    padding: 12px 0;
    font-family: Roboto-Mono;
    font-size: 16px;
    justify-content: space-between;
}

/* about */
.about {
    width: 100%;
}

.about::after {
    content: "";
    display: table;
    clear: both;
}

.about .about-container {
    width: 70%;
    float: right;
}

.about .about-container p {
    margin: 40px 0;
    font-family: Sk-Modernist;
    font-size: 36px;
}

@media (max-width: 900px) {
    .about .about-container {
        width: 100%;
    }

    .about .about-container p {
        font-size: 24px;
    }
}

/* projects */
.project {
    font-family: MonumentExtended;
    background: url(https://media.giphy.com/media/aZhkqmOjUtmZG/giphy.gif) no-repeat 50% 50%;
    background-size: cover;
}

.menu-item {
    position: relative;
    padding: 0 6vw;
}

.menu-item-link {
    display: inline-block;
    cursor: pointer;
    position: relative;
    -webkit-text-stroke: 1.8px #fff;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: opacity 0.4s;
}

.menu-item-link::before {
    all: initial;
    font-family: MonumentExtended;
    counter-increment: menu;
    position: absolute;
    bottom: 60%;
    left: 0;
    pointer-events: none;
}

.menu-item-link:hover {
    transition-duration: 0.1s;
    opacity: 0;
}

.menu-item-img {
    pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 600px;
    opacity: 0;
    left: 100%;
    top: 50%;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu-item-link:hover + .menu-item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
	transition: all 0.4s;
}

.menu {
    padding: 10vh 0 25vh;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    font-size: 7vw;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #fff;
    pointer-events: none;
    mix-blend-mode: difference;
}

.marquee-inner {
    width: fit-content;
    display: flex;
    position: relative;
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.1s;
}

.menu-item-link:hover ~ .marquee .marquee-inner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}

.menu-item-link,
.marque span {
    white-space: nowrap;
    font-size: 7vw;
    padding: 0 1vw;
    font-weight: 900;
    line-height: 1.20;
}

.marquee span {
    font-style: italic;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0)
    }
}


/* socials */
.socials {
    padding: 20px 0;
}

.socials .socials-container {
    display: flex;
    justify-content: space-between;
}

.socials .socials-container a {
    cursor: pointer;
    text-decoration: none;
    font-family: Bigilla !important;
    font-size: 64px;
    letter-spacing: 4px;
}

@media (max-width:900px) {
    .socials .socials-container a {
        font-size: 30px;
    }
}

/* footer */
.footer-container {
    font-family: Roboto-Mono;
    padding: 30px 0;
    font-size: 13px;
}


.caja1 {
    height: 30px;
    width: 30px;
    background: #0a0a0a;
}

.portafolio {
    text-decoration: none;
    font-style: none;
}